Header always set Content-Security-Policy "default-src 'unsafe-inline' 'unsafe-eval';\
    base-uri 'self';\
    connect-src 'self' https://ebus2-bdapps.hepl-e-business.be/dispas201203/api/clients.php;\
    frame-src 'self';\
    frame-ancestors 'self';\
    font-src 'self';\
    form-action 'self';\
    img-src 'self' https://*.picsum.photos https://picsum.photos https://loremflickr.com data:;\
    script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.tailwindcss.com https://unpkg.com https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js;\
    style-src 'self' 'unsafe-inline' https://cdn.tailwindcss.com https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css;\
    worker-src 'self' blob:;"

Header set Access-Control-Allow-Origin: *